PROJECT_NAME="Unified Social API"
VERSION="0.1.0"
API_V1_STR="/api"

CORS_ORIGINS="*"

SECRET_KEY=super_secret_key
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/unified-social-api-db

REDIS_URL=redis://localhost:6379/0

# platforms
DISCORD_CLIENT_ID=discord_client_id
DISCORD_CLIENT_SECRET=discord_client_secret
DISCORD_REDIRECT_URI=http://localhost:5173/dashboard/accounts/callback/discord

X_CLIENT_ID=x_client_id
X_CLIENT_SECRET=x_client_secret
X_REDIRECT_URI=http://localhost:5173
